.logError {
  color: red;
}
.formDiv {
  border: 4px solid rgb(230, 147, 70);
  ;
  border-radius: 10px;
  width: 400px;
  margin: 30px auto;
  padding: 16px;
  text-align: center;
}
.formDiv>* {
  margin: 10px;
}
/*------------------------------------------------------*/
body {
  background-image: url("");
  background-size: contain;
}
#wrapper {
  max-width: 1170px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
header {
  background-color: rgb(255, 200, 148);
}
.containerTop {
  display: flex;
}
#logoDiv {
  flex: 1;
  display: flex;
  justify-content: start;

}
#logo{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
#profDiv{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: end;
}
#profCont {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  
}
#headerProfImg {
height:70px;
margin-bottom: 8px;
}
#navText{
  font-size: 30px;
  margin-top: 30px;
}
#nav {
  display: flex;
  justify-content: center;
  flex: 2;
}
ul {
  display: flex;
  align-items: center;
}
.navButtons {
  border: 2px black solid;
  border-radius: 15px;
  margin: 20px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: rgb(255, 200, 148);
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.navButtons a:hover {
  color: white;
}
.navButtons:hover {
  background-color: rgb(148, 41, 37);
}
/*------------------------------------------------------*/
#inputs {
  display: flex;
  margin: 10px;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}
.contDiv {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
#allrecipesCont,
#favPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#boxImg{
  width: 100%;
  height: 60%;
  border-radius: 10px;
}
.recipeBox {
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin: 15px;
  width: 258px;
  text-align: center;
  height: 350px;
}
.boxTitle{
  font-size: 17px; 
  text-align: center; 
  margin-top: 30px; 
  font-weight: 900;
}
.boxIngred{
  font-size: 12px; 
  text-align: center; 
  margin: 5px;
}
.recipeBox button {
  margin: 25px 10px 0px 10px;
}
.boxButton {
  background: rgb(230, 147, 70);
  border: 1px solid rgb(230, 147, 70);
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
}
/*------------------------------------------------------*/
footer {
  width: 100%;
  height: 120px;
  background-color: rgb(230, 147, 70);
  text-align: center;
  position: relative;
}
footer h1 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}

/*------------------------------------------------------*/
#form {
  margin-top: 20px;
  margin-bottom: 20px;
}
#createPage{
  text-align: center;
}
#createNew {
  margin-bottom: 20px;
}
.group input{
  width: 200px;
}
.group {
  font-size: 20px;
}
.group>* {
  margin: 15px;
}
/*------------------------------------------------------*/
#tableTitles {
  height: 60px;
  width: 100%;
  border: 2px solid gainsboro;
  border-radius: 10px;
  display: flex;
  margin-top: 30px;
}
#tableTitles div {
  flex: 1;
  text-align: center;
}
.cookedTitle {
  font-size: 25px;
  margin: 15px;
  font-weight: 600;
}
#table{
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  gap: 10px;
}
.columns{
  border: 2px solid gainsboro;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  margin-top: 10px;
}
.columns h2{
  margin: 25px;
  font-size: 20px;
}
/*------------------------------------------------------*/
#profPage{
  text-align: center;
}
#profTitle1{
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}
#profTitle2{
  font-size: 30px;
  font-weight: 600;
  margin-top: 100px;
}
#profForm {
  margin-top: 20px;
  margin-bottom: 20px;
}
#createNew {
  margin-bottom: 20px;
}
.profGroup input{
  width: 200px;
}
.profGroup {
  font-size: 20px;
}
.profGroup>* {
  margin: 15px;
}


